/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Inter&family=Manrope:wght@600&family=Montserrat:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@400;700&display=swap');
 

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	flex: 0 0;
	padding: 2% 4%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #3c3c3c;
}


.catalog {
	flex: 20% 0 0;
	height: 100%;
	font-size: calc(7px + 13 * (100vw / 1400));
	cursor: pointer;
	position: relative;
	z-index: 5;
}

.catalog__button {
	background-color: #5c8aff;
	border-radius: 15px;
	padding: 0 4%;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	border-bottom: 2px solid #000
}

.catalog span {
	display: inline-block;
	flex: 80% 0 1;
	text-align: center;
	font-family: 'Comfortaa', sans-serif;
	color: #fff
}

.catalog img {
	width: 40px;
	height: 25px;
}

.catalog__menu {
	background-color: #5c8acc;
	position: absolute;
	width: 20vw;
	top: 110%;
	display: flex;
	flex-direction: column;
	z-index: 1;
	border: 2px solid #000;
	opacity: 0;
	animation: opacityes 0.6s forwards;
}

.catalog__menu a {
	color: #fff;
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(4px + 13 * (100vw / 1400));
	padding: 5%;
	flex: 100% 1 1;
}

.select-criteria {
	font-size: calc(7px + 10 * (100vw / 1400));
	font-family: 'Comfortaa', sans-serif;
	background-color: #5c8acc;
	color: #fff;
	padding: 5%;
}

.select-criteria option {
	border:rgba(0, 0, 0, 0.07)
}

.user {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: 'Montserrat', sans-serif;
	flex: 200px 0 0;
}

.search-input {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 40% 0 1;
	width: 100%;
	height: 60px;
	border-radius: 40px;
	background-color: #fff;
	position: relative;
}

.search-input input {
	height: 50%;
	width: 90%;
	padding: 0 0 0 2%;
	font-size: calc(7px + 13 * (100vw / 1400));
	font-family: 'Comfortaa', sans-serif;
}

.search-btn {
	position: absolute;
	top: calc(50% - 20px);
	right: 2%;
	cursor: pointer;
}

.search-input img {
	width: 40px;
	height: 40px;
}

.search-input input::placeholder {
	font-size: calc(7px + 13 * (100vw / 1400));
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.user {
	cursor: pointer;
	height: 60px;
	background-color: #fff;
	border-radius: 40px;
}

.user img {
	width: 30px;
	height: 30px;
}

/* Modal ---------- */

.modal-window {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	z-index:10;
	opacity: 0;
	animation: opacityes 0.6s forwards;
}

.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 4%;
	width: 50vw;
	height: 40vw;
	position: fixed;
	text-align: center;
	top: calc(50% - 20vw);
	left: calc(50% - 25vw);
	background-color: #fff;
	z-index: 5;
	font-family: 'Comfortaa', sans-serif;
	opacity: 0;
	animation: opacityes 0.6s forwards;
}

@keyframes opacityes {
	100%{
		opacity: 1;
	}
}

.modal-content p{
	text-align: left;
	padding: 0.2% 0;
	overflow-y: auto;
}

.modal-content p::first-letter {
	text-transform: uppercase;
}

.modal-content h3 {
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(7px + 20 * (100vw / 1400));
	font-weight: 600;
}

.modal-content p{
	min-height: 20vh;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: calc(4px + 16 * (100vw / 1400));
}

.product.active-modal .modal-content img {
	width: 15vw;
	height: 15vw;
}

.swap {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}

.swap p {
	font-family: 'Comfortaa', sans-serif;
	font-weight: medium;
	font-size: calc(7px + 25 * (100vw / 1400));
	padding: 5% 0;
	flex: 45% 0 0;
	text-align: center;
	margin: 2%;
	cursor: pointer;
}

/* Main------------ */

.content__page {
	text-align: center;
	flex: 100% 1 0;
	display: flex;
	align-items: flex-start;
}

.search {
	border: 2px solid #000;
	padding: 2% 10%;
	font-size: calc(7px + 20 * (100vw / 1400));
}

.left-menu {
	margin: 0 2%;
	padding: 0 1%;
	flex: 20% 0 0;
	width: 100%;
	min-width: 150px;
	background-color: #ccc;
}

.content {
	flex: 100% 1 1;
}

.container {
	padding: 5% 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.change__page {
	padding: 0 20%;
}

.change__page-button {
	display: inline-block;
	padding: 0.5% 1%;
	border: 1px solid #5c8aff;
	margin: 1%;
	cursor: pointer;
	font-family: 'Comfortaa', sans-serif;
}

.current__page {
	background-color: #3b68dd;
	color: #fff
}

.loader {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px dashed #000;
	animation: rotate 1.5s alternate infinite;
}

@keyframes rotate {
	0%{
		transform: rotate(0deg) scale(0.8);
	}
	100%{
		transform: rotate(360deg) scale(1.2);
	}
}

.single__product-page {
	padding: 2% 0;
	height: 100%;
	background-color: #888;
	font-family: 'Comfortaa', sans-serif;
	color: #fff;
	font-size: calc(4px + 12 * (100vw / 1400));
}

.single__product-page img{
	max-width: 40%;
	max-height: 100%;
	margin: 0 auto;
}

.single__product-content {
	padding: 0 10%;
	display: grid;
	grid-template: repeat(2, 15vh) / repeat(2, 50%);
	align-items: center;
}

.single__product-page img {
	grid-row: 1 / 3;
	width: 100vw;
	height: 100%;
}

.comments h3 {
	font-size: calc(7px + 15 * (100vw / 1400));
	padding: 5% 0;
}

.comments {
	grid-column: 1 / 3;
}

.comments__list {
	text-align: left;
	list-style-type: disc;
	list-style-position: inside;
}

.comments__list li {
	padding: 1% 0;
	list-style-type: disc;
	list-style-position: inside;
}

/* Footer-------------- */

.availability {
	border-radius: 15px;
	background-color: #5c8aff;
	padding: 1.5% 1%;
	font-weight: bold;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.availability span {
	font-size: calc(7px + 10 * (100vw / 1400));
}

footer {
	height: 200px;
	flex: 0 0 0;
	display: flex;
	flex-direction: column;
}

.top-footer {
	padding: 0 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background-color: #3c3c3c;
	font-family: 'Comfortaa', sans-serif;
	color: #fff;
}

.top-footer a, .top-footer a:visited{
	color: #fff
}

.top-footer .footer-nav {
	flex: 40% 0 0
}

.top-footer nav {
	display: flex;
	justify-content: space-around;
	font-size: calc(4px + 12 * (100vw / 1400));
}

.contacts {
	flex: 15% 0 0;
	font-size: calc(4px + 12 * (100vw / 1400));
}

.social-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

.social-list a img{
	width: 2.5vw
}

.bottom-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
	height: 50px;
	background-color: #272727;
	font-family: "MontSerrat", sans-serif;
	color: #A7A7A7;
}

.bottom-footer a, .bottom-footer a:visited {
	color: #5C8AFF;
}

/* Silder ==========================*/

.slider-draggable {
	margin: 5% auto;
	position: relative;
}

.slider__wrapper {
	width: 60vw;
	overflow: hidden;
}

.slider__list {
	display: flex;
	transition: transform 0.5s;
}

.slider__item {
	padding: 6% 8%;
}

.slider__item img {
	/* width: 150px;
	height: 150px; */
}

.slider__button {
	top: calc(50% - 1.5vw);
	position: absolute;
	background-color: transparent;
}

.slider__button img {
	width: 1.5vw;
	height: 3vw;
}

.previous {
	left: -10%;
}

.next {
	right: -10%;
	transform: rotate(180deg);
}


.product {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* padding: 0% 5%; */
	/* width: 20vw; */
	/* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
	 rgba(0, 0, 0, 0.07) 0px 2px 4px,
	  rgba(0, 0, 0, 0.07) 0px 4px 8px,
	   rgba(0, 0, 0, 0.07) 0px 8px 16px,
	    rgba(0, 0, 0, 0.07) 0px 16px 32px,
		 rgba(0, 0, 0, 0.07) 0px 32px 64px; */
}

.product.active-modal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding-bottom: 5%;
	box-shadow: none;	
}

.product img{
	width: 10vw;
	height: 10vw;
}

.product h2 {
	font-size: calc(7px + 10 * (100vw / 1400));
	font-family: 'Comfortaa', sans-serif;
	line-height: 1.5;
}

.show-info {
	margin: 1% auto;
	margin: 10% 0;
	padding: 6% 16%;
	max-width: 100%;
	background-color: #3c3c3c;
	font-family: 'Comfortaa', sans-serif;
	color: #fff;
	cursor: pointer;
	border-radius: 10px;
	font-size: calc(4px + 12 * (100vw / 1400));
}

/* Silder ==========================*/



/* Favorites ==========================*/


.favourites {
	flex: 100% 1 1;
	padding: 0 10%;
}

.favourites__products {
	display: flex;
	flex-direction: column;
}

.favourite__product {
	position: relative;
	display: flex;
}


.favourite__product img{
	width: 20vw;
}

.favourite {
	width: 2vw;
	height: 2vw;
	position: absolute;
	top: 0;
	right: 5%;
}

.favourite img {
	max-width: 100%;
}

/* Favorites ==========================*/