/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Inter&family=Manrope:wght@600&family=Montserrat:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@400;700&display=swap');
 

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

header {
	flex: 0 0;
	padding: 2% 4%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #3c3c3c;
}


.catalog {
	flex: 20% 0 0;
	height: 100%;
	font-size: calc(7px + 13 * (100vw / 1400));
	cursor: pointer;
	position: relative;
	z-index: 5;
}

.catalog__button {
	background-color: #5c8aff;
	border-radius: 15px;
	padding: 0 4%;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	border-bottom: 2px solid #000
}

.catalog span {
	display: inline-block;
	flex: 80% 0 1;
	text-align: center;
	font-family: 'Comfortaa', sans-serif;
	color: #fff
}

.catalog img {
	width: 40px;
	height: 25px;
}

.catalog__menu {
	background-color: #5c8acc;
	position: absolute;
	width: 20vw;
	top: 110%;
	display: flex;
	flex-direction: column;
	z-index: 1;
	border: 2px solid #000;
	opacity: 0;
	animation: opacityes 0.6s forwards;
}

.catalog__menu a {
	color: #fff;
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(4px + 13 * (100vw / 1400));
	padding: 5%;
	flex: 100% 1 1;
}

.select-criteria {
	font-size: calc(7px + 10 * (100vw / 1400));
	font-family: 'Comfortaa', sans-serif;
	background-color: #5c8acc;
	color: #fff;
	padding: 5%;
}

.select-criteria option {
	border:rgba(0, 0, 0, 0.07)
}

.user {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: 'Montserrat', sans-serif;
	flex: 200px 0 0;
}

.search-input {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 40% 0 1;
	width: 100%;
	height: 60px;
	border-radius: 40px;
	background-color: #fff;
	position: relative;
}

.search-input input {
	height: 50%;
	width: 90%;
	padding: 0 0 0 2%;
	font-size: calc(7px + 13 * (100vw / 1400));
	font-family: 'Comfortaa', sans-serif;
}

.search-btn {
	position: absolute;
	top: calc(50% - 20px);
	right: 2%;
	cursor: pointer;
}

.search-input img {
	width: 40px;
	height: 40px;
}

.search-input input::placeholder {
	font-size: calc(7px + 13 * (100vw / 1400));
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.user {
	cursor: pointer;
	height: 60px;
	background-color: #fff;
	border-radius: 40px;
}

.user img {
	width: 30px;
	height: 30px;
}

/* Modal ---------- */

.modal-window {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	z-index:10;
	opacity: 0;
	animation: opacityes 0.6s forwards;
}

.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 4%;
	width: 50vw;
	height: 40vw;
	position: fixed;
	text-align: center;
	top: calc(50% - 20vw);
	left: calc(50% - 25vw);
	background-color: #fff;
	z-index: 5;
	font-family: 'Comfortaa', sans-serif;
	opacity: 0;
	animation: opacityes 0.6s forwards;
}

@keyframes opacityes {
	100%{
		opacity: 1;
	}
}

.modal-content p{
	text-align: left;
	padding: 0.2% 0;
	overflow-y: auto;
}

.modal-content p::first-letter {
	text-transform: uppercase;
}

.modal-content h3 {
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(7px + 20 * (100vw / 1400));
	font-weight: 600;
}

.modal-content p{
	min-height: 20vh;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: calc(4px + 16 * (100vw / 1400));
}

.product.active-modal .modal-content img {
	width: 15vw;
	height: 15vw;
}

.swap {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}

.swap p {
	font-family: 'Comfortaa', sans-serif;
	font-weight: medium;
	font-size: calc(7px + 25 * (100vw / 1400));
	padding: 5% 0;
	flex: 45% 0 0;
	text-align: center;
	margin: 2%;
	cursor: pointer;
}

/* Main------------ */

.content__page {
	text-align: center;
	flex: 100% 1 0;
	display: flex;
	align-items: flex-start;
}

.search {
	border: 2px solid #000;
	padding: 2% 10%;
	font-size: calc(7px + 20 * (100vw / 1400));
}

.left-menu {
	margin: 0 2%;
	padding: 0 1%;
	flex: 20% 0 0;
	width: 100%;
	min-width: 150px;
	background-color: #ccc;
}

.content {
	flex: 100% 1 1;
}

.container {
	padding: 5% 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.change__page {
	padding: 0 20%;
}

.change__page-button {
	display: inline-block;
	padding: 0.5% 1%;
	border: 1px solid #5c8aff;
	margin: 1%;
	cursor: pointer;
	font-family: 'Comfortaa', sans-serif;
}

.current__page {
	background-color: #3b68dd;
	color: #fff
}

.loader {
	width: 15vw;
	display: flex;
	margin: 10% auto 0 auto;
	position: sticky;
	top: 40vh;
	left: calc(50vw - 7.5vw);
}

.loader div {
	flex: 5vw 0 0;
	height: 5vw;
	background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
	border-radius: 50%;
	animation: scale 1s alternate infinite;
}

.loader div:nth-child(1){
	animation-delay: 0;
}

.loader div:nth-child(2){
	animation-delay: 0.3s;
}

.loader div:nth-child(3){
	animation-delay: 0.6s;
}

@keyframes scale {
	0%{
		transform: scale(0.2);
	}
	50% {
		transform: scale(1);
	}
	100%{
		transform: scale(1.5);
	}
}

/* Footer-------------- */

.availability {
	border-radius: 15px;
	background-color: #5c8aff;
	padding: 1.5% 1%;
	font-weight: bold;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.availability span {
	font-size: calc(7px + 10 * (100vw / 1400));
}

footer {
	height: 200px;
	flex: 0 0 0;
	display: flex;
	flex-direction: column;
}

.top-footer {
	padding: 0 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background-color: #3c3c3c;
	font-family: 'Comfortaa', sans-serif;
	color: #fff;
}

.top-footer a, .top-footer a:visited{
	color: #fff
}

.top-footer .footer-nav {
	flex: 40% 0 0
}

.top-footer nav {
	display: flex;
	justify-content: space-around;
	font-size: calc(4px + 12 * (100vw / 1400));
}

.contacts {
	flex: 15% 0 0;
	font-size: calc(4px + 12 * (100vw / 1400));
}

.social-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

.social-list a img{
	width: 2.5vw
}

.bottom-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
	height: 50px;
	background-color: #272727;
	font-family: "MontSerrat", sans-serif;
	color: #A7A7A7;
}

.bottom-footer a, .bottom-footer a:visited {
	color: #5C8AFF;
}

/* Silder ==========================*/

.slider-draggable {
	margin: 5% auto;
	position: relative;
}

.slider__wrapper {
	overflow: hidden;
	width: 70vw;
}

.slider__list {
	display: flex;
	transition: transform 0.5s;
}

.slider__item {
	padding: 4% 6%;
}

.slider__item h2 {
	max-width: 90%;
}

.slider__button {
	top: calc(50% - 1.5vw);
	position: absolute;
	background-color: transparent;
}

.slider__button img {
	width: 1.5vw;
	height: 3vw;
}

.previous {
	left: -10%;
}

.next {
	right: -10%;
	transform: rotate(180deg);
}


.product {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* padding: 0% 5%; */
	/* width: 20vw; */
	/* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
	 rgba(0, 0, 0, 0.07) 0px 2px 4px,
	  rgba(0, 0, 0, 0.07) 0px 4px 8px,
	   rgba(0, 0, 0, 0.07) 0px 8px 16px,
	    rgba(0, 0, 0, 0.07) 0px 16px 32px,
		 rgba(0, 0, 0, 0.07) 0px 32px 64px; */
}

.product .description {
	display: none;
}

.product img{
	width: 15vw;
	height: 15vw;
}

.product h2 {
	font-size: calc(7px + 10 * (100vw / 1400));
	font-family: 'Comfortaa', sans-serif;
	line-height: 1.5;
}

.show-info {
	margin: 0 auto;
	padding: 6% 16%;
	max-width: 100%;
	background-color: #3c3c3c;
	font-family: 'Comfortaa', sans-serif;
	color: #fff;
	cursor: pointer;
	border-radius: 10px;
	font-size: calc(4px + 12 * (100vw / 1400));
}

/* Silder ==========================*/

@media (max-width: 800px) {

	.slider__wrapper {
		overflow: hidden;
		width: 70vw;
	}
	.slider__item {
		padding: 0;
		flex: 35vw 0 0;
		align-items: center;
	}
	.product__info {
		width: 100%;
	}
	.show-info {
		padding: 4% 10%;
	}
	.favourite {
		top: 10%;
		right: 15%;
	}
}


/* Favorites ==========================*/


.favourites {
	flex: 100% 1 1;
	height: 100%;
}

.favourites__title {
	
}

.favourites__products {
	display: grid;
	grid-template: repeat(auto-fit, auto) / repeat(2, 45vw);
	padding: 0 5%;
}

.favourite__product {
	margin: 2% 0;
	padding: 4%;
	position: relative;
	display: grid;
	grid-template: repeat(2, 10vw) / repeat(3, 28vw);
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
	 rgba(0, 0, 0, 0.07) 0px 2px 4px,
	  rgba(0, 0, 0, 0.07) 0px 4px 8px,
	   rgba(0, 0, 0, 0.07) 0px 8px 16px,
	    rgba(0, 0, 0, 0.07) 0px 16px 32px,
		 rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.favourite__product .product__info {
	display: none;
}

.favourite__product .favourite {
	width: 3vw;
	height: 3vw;
	top: 5%;
	right: 5%;
}

.description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	grid-row: 1 / 4;
	grid-column: 2 / 4;
	text-align: left;
}

.description__title{
	font-family: 'Comfortaa', sans-serif;
	font-weight: 600;
	font-size: calc(10px + 30 * (100vw / 1400)); 
}

.description__price {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 600;
	font-size: calc(10px + 30 * (100vw / 1400));
	color: #7CA1FF;
}

.description__price, .description__title {
	padding: 1% 0;
	line-height: 0.8;
}

.description .date {
	color: #50CC98;
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(5px + 10 * (100vw / 1400));
	padding: 1% 0;
}

.description h3 {
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(5px + 15 * (100vw / 1400));
	font-weight: 700;
} 

.description__info {
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(5px + 15 * (100vw / 1400));
	max-width: 90%;
}

.description .show-info {
	margin: 0;
	padding: 3% 8%;
}

.favourite__product img{
	width: 20vw;
	height: 80%;
	margin: 0 auto;
	grid-row: 1 / 4;
}

.favourite {
	position: absolute;
	top: 15%;
	right: 0%;
}

.favourite img {
	max-width: 100%;
	width: 3vw;
	height: 3vw;
}

/* Favorites ==========================*/

@media (max-width: 800px) {

	.slider__wrapper {
		overflow: hidden;
		width: 70vw;
	}
	.slider__item {
		padding: 0;
		flex: 35vw 0 0;
		align-items: center;
	}
	.product__info {
		width: 100%;
	}
	.show-info {
		padding: 4% 10%;
	}
	.favourite {
		right: 10%;
	}
}