/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Inter&family=Manrope:wght@600&family=Montserrat:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@400;700&display=swap');
 
header {
	padding: 0 2%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
	background-color: #3c3c3c;
}

header img {
	width: 95px;
	height: 95px;
	border-radius: 50%;
	/* flex:  */
}

.user {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: 'Montserrat', sans-serif;
	flex: 200px 0 0;
}

.search-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 37% 0 0;
	width: 100%;
	height: 50px;
	border-radius: 40px;
	background-color: #fff;
}

.search-input input {
	padding: 0 5%;
	border-radius: 40px;
	flex: 80% 0 0;
	font-size: 20px;
}

.search-btn {
	flex: 10% 1 0;
	text-align: center;
}

.search-input img {
	width: 35px;
	height: 35px;
}

.search-input input::placeholder {
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.user {
	cursor: pointer;
	height: 50px;
	background-color: #fff;
	border-radius: 40px;
}

.user img {
	width: 30px;
	height: 30px;
}

/* Modal ---------- */

.modal-window {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5;
}

.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 4%;
	width: 50vw;
	height: 50vh;
	position: fixed;
	text-align: center;
	top: 20%;
	left: calc(50% - 25vw);
	background-color: #fff;
	z-index: 5;
	font-family: 'Comfortaa', sans-serif;
	opacity: 0;
	animation: opacityes 0.6s forwards;
}

@keyframes opacityes {
	100%{
		opacity: 1;
	}
}

.modal-content p, .modal-content h3 {
	text-align: left;
	padding: 0.5% 0;
	max-height: 200px;
	overflow-y: auto;
}

.modal-content p::first-letter {
	text-transform: uppercase;
}

.modal-content h3 {
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(7px + 20 * (100vw / 1400));
	font-weight: 600;
}

.modal-content p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: calc(4px + 16 * (100vw / 1400));
}

.product.active-modal .modal-content img {
	width: 15vw;
	height: 15vw;
}

.swap {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}

.swap p {
	font-family: 'Comfortaa', sans-serif;
	font-weight: medium;
	font-size: calc(7px + 25 * (100vw / 1400));
	padding: 5% 0;
	flex: 45% 0 0;
	text-align: center;
	margin: 2%;
	cursor: pointer;
}

/* Main------------ */

.container {
	padding: 5% 0;
	display: grid;
	grid-template: repeat(5, minmax(200px, 100%)) / repeat(4, minmax(100px, 15vw));
	justify-content: center;
	align-items: center;
	text-align: center;
	grid-gap: 50px 50px;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding-bottom: 5%;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
	 rgba(0, 0, 0, 0.07) 0px 2px 4px,
	  rgba(0, 0, 0, 0.07) 0px 4px 8px,
	   rgba(0, 0, 0, 0.07) 0px 8px 16px,
	    rgba(0, 0, 0, 0.07) 0px 16px 32px,
		 rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.product img{
	padding-top: 5%;
	width: 13vw;
	height: 13vw;
	margin: 0 auto;
}

.product h2 {
	font-size: calc(7px + 10 * (100vw / 1400));
	font-family: 'Comfortaa', sans-serif;
	line-height: 1.5;
}

.show-info {
	margin: 1% auto;
	padding: 6% 6%;
	max-width: 60%;
	background-color: #3c3c3c;
	font-family: 'Comfortaa', sans-serif;
	color: #fff;
	cursor: pointer;
	border-radius: 10px;
	font-size: calc(4px + 12 * (100vw / 1400));
}

/* Footer-------------- */

.availability {
	border-radius: 15px;
	background-color: #5c8aff;
	padding: 1.5% 1%;
	font-weight: bold;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.availability span {
	font-size: calc(7px + 10 * (100vw / 1400));
}

footer {
	height: 200px;
	display: flex;
	flex-direction: column;
}

.top-footer {
	padding: 0 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background-color: #3c3c3c;
	font-family: 'Comfortaa', sans-serif;
	color: #fff;
}

.top-footer a, .top-footer a:visited{
	color: #fff
}

.top-footer .footer-nav {
	flex: 40% 0 0
}

.top-footer nav {
	display: flex;
	justify-content: space-around;
	font-size: calc(4px + 12 * (100vw / 1400));
}

.contacts {
	flex: 15% 0 0;
	font-size: calc(4px + 12 * (100vw / 1400));
}

.social-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

.bottom-footer {
	padding: 0 5%;
	height: 50px;
	background-color: #272727;
}

/* BreakePoints */
/* 
@media (min-width: 1400px) {
	.container {
		grid-template: repeat(5, minmax(200px, 100%)) / repeat(4, minmax(100px, 15vw));
	}
} */