/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a:visited, a{color: #000}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Inter&family=Manrope:wght@600&family=Montserrat:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@400;700&display=swap');

body.lock{
	overflow-y: hidden;
}

/* Scrollbar */

.description__info::-webkit-scrollbar, .search-list::-webkit-scrollbar, .filters__list::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.description__info::-webkit-scrollbar-track, .search-list::-webkit-scrollbar-track, .filters__list::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.description__info::-webkit-scrollbar-thumb, .search-list::-webkit-scrollbar-thumb, .filters__list::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5);
}

/* Scrollbar */

#root {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	font-family: 'Comfortaa', sans-serif;
	overflow-x: hidden;
	background-color: #000;
}

header {
	margin: 0 10%;
	padding: 1% 0%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	border-bottom: 1px #777 solid;
	z-index: 5;
}

header .logo img {
	max-width: 7vw;
}

.catalog {
	flex: 30% 1 0;
	height: 80%;
	font-size: calc(7px + 13 * (100vw / 1400));
	cursor: pointer;
	position: relative;
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.catalog__list {
	display: flex;
	justify-content: flex-end;
}

.catalog__list a, .catalog__list a:visited {
	color: #eee;
	font-size: calc(4px + 14 * (100vw / 1400));
	padding: 0 2.5%;
}

.catalog__button {
	background-color: #222;
	border-radius: 15px;
	padding: 0 4%;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.catalog__button.active-catalog {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0;
}

.catalog span {
	display: inline-block;
	flex: 80% 0 1;
	text-align: center;
	font-family: 'Comfortaa', sans-serif;
	color: #fff;
}

.catalog img {
	width: 25px;
	height: 25px;
}

.catalog__menu {
	background-color: #fff;
	position: absolute;
	width: 150%;
	top: calc(100%);
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 2px solid #000;
	opacity: 0;
	animation: opacityes 0.6s forwards;
}

.catalog__menu a {
	color: #000;
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(4px + 23 * (100vw / 1400));
	padding: 5%;
	flex: 100% 1 1;
	z-index: 15;
}

.catalog__menu a:last-child {
	padding: 10% 5%;
	color: #fff;
	background: url('../images/btn-fone.png') 0 0 / 100% 100%;
}

.catalog__menu a:nth-child(2) {
	padding: 15% 5%;
	color: #fff;
	background: url('../images/btn-fone2.png') 0 0 / 100% 100%;
}

.select-criteria {
	font-size: calc(7px + 10 * (100vw / 1400));
	font-family: 'Comfortaa', sans-serif;
	padding: 5%;
	border-radius: 15px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.select-criteria option {
	border:rgba(0, 0, 0, 0.07)
}

.search-input {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 60% 0 1;
	width: 100%;
	height: 40px;
	border-radius: 40px;
	background-color: #000;
	position: relative;
}

.search-input input {
	height: 90%;
	width: 90%;
	font-size: calc(7px + 13 * (100vw / 1400));
	font-family: 'Comfortaa', sans-serif;
	background-color: #000;
	border: 1px solid #4e4e4e;
	border-radius: 20px;
	color: #fff;
	padding: 1% 1% 1% 5%;

}

.search-btn {
	position: absolute;
	top: calc(50% - 10px);
	right: 10%;
	cursor: pointer;
}

.search-input img {
	width: 20px;
	height: 20px;
}

.search-input input::placeholder {
	font-size: calc(7px + 13 * (100vw / 1400));
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.search-list {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	min-height: 100%;
	max-height: 20vh;
	width: 100%;
	overflow-y: auto;
	background-color: #222;
	border: 1px solid #000;
}

.search-list li {
	padding: 1%;
}

.search-list a, .search-list a:visited{
	color: #fff;
}

.search-list li::first-letter {
	text-transform: uppercase;
}

.user {
	cursor: pointer;
	height: 45px;
	background-color: #222;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: 'Montserrat', sans-serif;
	flex: 80px 0 0;
}

.user img {
	width: 20px;
	height: 20px;
	align-self: center;
}

.user a, .user a:visited {
	display: inline-block;
	height: 100%;
	color: #000;
	display: flex;
}

.user p {
	align-self: center;
	color: #fff;
}

.user.adaptive {
	flex: 45px 0 0;
}

.user.adaptive img {
	width: 40px;
	height: 40px;
}

/* Bread Crumbs */

.bread__crumbs {
	padding: 2% 0 4% 0;
	text-align: left;
	background-color: #000;
}

.bread__crumbs-list a, .bread__crumbs-list a:visited, .bread__crumbs-list span{
	color: #fff;
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(7px + 20 * (100vw / 1400));
	font-weight: 700;
	text-decoration: underline;
	padding: 0 0.5%;
}

.bread__crumbs-list span {
	text-decoration: none;
}

/* Bread Crumbs */

/* Modal ---------- */

.modal-window {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	z-index:10;
	opacity: 0;
	animation: opacityes 0.6s forwards;
	overflow-y: auto;
}

.modal-content {
	padding: 2% 4% 4% 4%;
	width: 60vw;
	height: 70vh;
	min-height: 500px;
	position: absolute;
	text-align: center;
	left: calc(50% - 30vw);
	top: calc(50% - 35vh);
	background-color: #444;
	z-index: 5;
	opacity: 0;
	animation: opacityes 0.6s forwards;
}

@keyframes opacityes {
	100%{
		opacity: 1;
	}
}

.user__form {
	font-family: 'Comfortaa', sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.my__form {
	height: 40vh;
	flex: 80% 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}

.my__form-form {
	flex: 1 1 100%;
	width: 80%;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: left;
}

.my__form-form input {
	height: 30px;
	margin: 2% 1% 0% 0;
	border-bottom: 2px solid rgba(256, 256, 256, 0.85);
	background-color: transparent;
	color: #fff
}

.my__form-title h3{
	font-size: calc(7px + 20 * (100vw / 1400));
}

.my__form-submit {
	margin: 0 auto;
	padding: 4% 0;
	font-size: calc(7px + 10 * (100vw / 1400));
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 15px;
	width: 70%;
}

.swap__btns-list {
	display: flex;
}

.swap-btn {
	width: 100%;
	padding: 4% 8%;
	margin: 0 0 2% 0;
	font-weight: 700;
	color: #000;
	background-color: #fff;
	font-size: calc(7px + 20 * (100vw / 1400));
}

.swap-btn:nth-child(1){
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.swap-btn:nth-child(2){
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.active-swap {
	background-color: #aaa;
}

/* Main------------ */

.main__page-title {
	padding: 1.5% 0;
	font-size: calc(7px + 20 * (100vw / 1400));
}

.categories {
	background-color: #222;
	padding: 3% 5%;
}

.categories__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.categories img{
	max-width: 15vw;
	max-height: 15vw;
}

.category {
	padding: 2%;
	background-color: #fff;
	color: #000;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.category__img-container {
	margin: auto 0;
}

.content__page {
	flex: 100% 1 1;
	display: flex;
	text-align: left;
	flex-direction: column;
	background: url('../images/repeat-fone.jpg') 0 0 / 200px 200px repeat;
	-webkit-box-shadow: 0px 100px 100px -3px rgba(0, 0, 0, 1) inset;
	-moz-box-shadow: 0px 100px 100px -3px rgba(0, 0, 0, 1) inset;
	box-shadow: 0px 100px 100px -3px rgba(0, 0, 0, 1) inset;
	color: #fff;
}

.content__page-content {
	flex: 100% 1 1;
	color: #fff;
}

.product__info {
	white-space: nowrap;
	width: 15vw;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #000;
	font-size: calc(7px + 10 * (100vw / 1400));
	line-height: 1.2;
}

.top-title {
	font-size: calc(7px + 20 * (100vw / 1400));
}

.search {
	border: 2px solid #000;
	padding: 2% 10%;
	font-size: calc(7px + 20 * (100vw / 1400));
}

.left-menu {
	margin: 0 2%;
	padding: 0 1%;
	flex: 20% 0 0;
	width: 100%;
	min-width: 150px;
	background-color: #ccc;
}

.content {
	flex: 100% 1 1;
}

.container {
	padding: 5% 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loader {
	width: 15vw;
	display: flex;
	margin: 10% auto 0 auto;
	position: sticky;
	top: 40vh;
	left: calc(50vw - 7.5vw);
}

.loader div {
	flex: 5vw 0 0;
	height: 5vw;
	background: linear-gradient(90deg, #faf0cd, #fab397);
	border-radius: 50%;
	animation: scale 1s alternate infinite linear;
}

.loader div:nth-child(1){
	animation-delay: 0;
}

.loader div:nth-child(2){
	animation-delay: 0.3s;
}

.loader div:nth-child(3){
	animation-delay: 0.6s;
}

@keyframes scale {
	0%{
		transform: scale(0.2);
	}
	50% {
		transform: scale(1);
	}
	100%{
		transform: scale(1.5);
	}
}

/* Main------------ */

/* Footer-------------- */

.availability {
	border-radius: 15px;
	background-color: #5c8aff;
	padding: 1%;
	font-weight: bold;
	display: flex;
	align-items: center;
	cursor: pointer;
	max-width: 18vw;
}

.availability img {
	flex: 5% 0 0;
	padding: 0 1%
	/* width: 7vw; */
}

.availability span {
	font-size: calc(4px + 10 * (100vw / 1400));
}

footer {
	flex: 12% 0 0;
	display: flex;
	flex-direction: column;
}

.top-footer {
	padding: 0 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background-color: #111;
	box-shadow: rgba(256, 256, 256, 0.9) 0px -25px 36px -28px inset;
	font-family: 'Comfortaa', sans-serif;
	color: #fff;
}

.logo img {
	max-width: 10vw;
}

.top-footer a, .top-footer a:visited{
	color: #fff
}

.top-footer .footer-nav {
	flex: 40% 0 0
}

.top-footer nav {
	display: flex;
	justify-content: space-around;
	font-size: calc(4px + 12 * (100vw / 1400));
	text-decoration: underline;
}

.contacts {
	flex: 15% 0 0;
	font-size: calc(4px + 12 * (100vw / 1400));
}

.social-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 5px;
}

.social-list a img{
	width: 2.5vw
}

.bottom-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
	height: 50px;
	background-color: #272727;
	font-family: "MontSerrat", sans-serif;
	color: #A7A7A7;
}

.bottom-footer p {
	flex: 48% 0 0;
}

.bottom-footer a, .bottom-footer a:visited {
	color: #5C8AFF;
}

/* Silder ==========================*/

.slider-draggable {
	padding: 2% 0;
	margin: 0 auto;
	position: relative;
}

.slider__wrapper {
	overflow: hidden;
	width: 90vw;
}

.slider__list {
	display: flex;
	transition: transform 0.5s;
}

.slider__item {
	flex: 22.5vw 0 0;
	border-right: 0.5vw solid transparent;
	border-left: 0.5vw solid transparent;
	box-sizing: border-box;
}

.slider__item h2 {
	max-width: 90%;
}

.slider__button {
	top: calc(50% - 1.5vw);
	position: absolute;
	background-color: transparent;
}

.slider__button img {
	width: 1.5vw;
	height: 3vw;
}

.product {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 7% 7% 7% 11%;
	background-color: #fff;
	min-height: 100%;
	border-radius: 20px;
	min-width: 0;
}

.product .description {
	display: none;
}

.product img{
	/* max-width: 15vw;
	max-height: 15vw; */
	text-align: center;
}

.product-img {
	width: 100%;
	min-height: 100%;
	flex: 100% 1 0;
	display: flex;
	justify-content: space-between;
}
 
.image-container {
	flex: 100% 1 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.product__info a, .product__info a:visited{
	text-align: left;
	color: #000;
}

.product__info a:hover {
	text-decoration: underline;
}

.description .show-info {
	margin: 0;
	padding: 3% 8%;
}

.description__btns {
	display: flex;
	flex: 1 1 100%;
	width: 100%;
	align-items: flex-end;
	justify-content: space-evenly;
}

.favourite {
	padding-bottom: 20%;
}

.add-to-compare img, .show-info img, .favourite img {
    cursor: pointer;
	width: 2vw;
	height: 2vw;
}

.product__info h2 {
	color: #000;
	font-size: calc(7px + 10 * (100vw / 1400));
	font-family: 'Comfortaa', sans-serif;
	line-height: 1.5;
}

.previous {
	left: -2.5%;
}

.next {
	right: -2.5%;
	transform: rotate(180deg);
}

/* SLIDER TRANSITION GROUP */

.remove-btn {
	margin-right: 0.5rem;
}

.slider-enter {	
	transform: translateX(-30vw);
}

.slider-enter-active {	
	transform: translateX(0vw);
	transition: all 500ms ease-in;
}
.slider-exit {
	transform: translateX(0vw);
}
.slider-exit-active {	
	transform: translateX(0vw);
	transition: all 500ms ease-in;
}


/* SLIDER TRANSITION GROUP */

/* Silder ==========================*/


/* Favorites ==========================*/


.favourites {
	flex: 100% 1 1;
	height: 100%;
}

.favourites h1 {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 600;
	font-size: calc(10px + 30 * (100vw / 1400)); 
}

.favourites__products {
	display: grid;
	grid-template: repeat(auto-fit, auto) / repeat(2, 45vw);
	padding: 0 5%;
}

.favourite__product {
	margin: 2% 0;
	padding: 4%;
	position: relative;
	display: grid;
	grid-template: repeat(3, 10vw) / repeat(3, 28vw);
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
	 rgba(0, 0, 0, 0.07) 0px 2px 4px,
	  rgba(0, 0, 0, 0.07) 0px 4px 8px,
	   rgba(0, 0, 0, 0.07) 0px 8px 16px,
	    rgba(0, 0, 0, 0.07) 0px 16px 32px,
		 rgba(0, 0, 0, 0.07) 0px 32px 64px;
	background-color: #fff;
	color: #000;
}

.favourite__product .product__info-btns {
	max-width: 80%;
	display: flex;
	justify-content: space-between;
}
.favourite__product .product__info-btns img {
	width: 3vw;
	height: 3vw;
}

.favourite__product .product__info {
	display: none;
}

.favourite__product .favourite {
	width: 3vw;
	height: 3vw;
	top: 5%;
	right: 5%;
}

.description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	grid-row: 1 / 4;
	grid-column: 2 / 4;
	text-align: left;
}

.description__title{
	font-family: 'Comfortaa', sans-serif;
	font-weight: 600;
	font-size: calc(10px + 15 * (100vw / 1400));
	max-width: 90%;
	line-height: 1.2;
	padding: 1% 0;
}

.description__price {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 600;
	font-size: calc(10px + 30 * (100vw / 1400));
	color: #7CA1FF;
}

.description__price{
	padding: 1% 0;
	line-height: 0.8;
}

.description .date {
	color: #50CC98;
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(5px + 10 * (100vw / 1400));
	padding: 1% 0;
}

.description h3 {
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(5px + 15 * (100vw / 1400));
	font-weight: 700;
	padding: 3% 0;
} 

.description__info {
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(5px + 15 * (100vw / 1400));
	line-height: 1.5;
	max-width: 90%;
	height: 100%;
	overflow-y: auto;
}

.favourite__product .remove-from-favourites img {
	width: 3vw;
	height: 3vw;
	cursor: pointer;
}



.favourite__img {
	grid-row: 1 / 4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Favorites ==========================*/

@media (max-width: 800px) {

	.slider__wrapper {
		overflow: hidden;
		width: 90vw;
	}
	.slider__item {
		/* padding: 0 10%; */
		flex: 30vw 0 0;
	}

	.product__info {
		font-size: calc(7px + 15 * (100vw / 1400));
	}
	.favourite img, .add-to-compare img {
		width: 3vw;
		height: 3vw;
	}
}


.test__product {
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(5px + 15 * (100vw / 1400));
	font-weight: 700;
}

/* Single styles ========================= */


.single__product-page {
	padding: 0 3%;
	color: #000;
	background-color: #fff;
	min-height: 100%;
}

.single__product-title {
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(5px + 20 * (100vw / 1400));
	font-weight: 700;
	padding: 5% 0;
}

.single__product-image {
	position: sticky;
	top: 10%;
	left: 0;
}

.single__product-content {
	padding: 2%;
    display: flex;
    justify-content: space-between;
	align-items: flex-start;
}

.single__product-image {
	flex: 30% 0 0;
	text-align: center;
	background-color: #fff;
	border-radius: 20px;
	padding: 2% 1%;
	border: 5px solid #000;
	min-width: 0;
}

.single__product-image .swiper {
	margin: 0 auto !important;
	width: 20vw;
	height: 25vw;
}

.single__product-image .swiper-slide {
	width: 20vw !important;
	height: 25vw !important;
}

.single__product-image .swiper-slide > img {
	max-width: 20vw;
	max-height: 20vw;;
}

.single__product-info {
	flex: 60% 0 0;
	text-align: left;
	font-family: 'Comfortaa', sans-serif;
	font-weight: 700;
	position: relative;
}

.single__product-info h2 {
	font-size: calc(5px + 30 * (100vw / 1400));
}

.single__product-info p::first-letter {
	text-transform: uppercase;
}

.single__product-info p {
	padding: 5% 0;
	line-height: 1.5;
	font-size: calc(7px + 15 * (100vw / 1400));
}

.single__product-info h3 {
	font-size: calc(5px + 15 * (100vw / 1400));
}

.single__product-specifications {
	padding: 0 0 0 5%;
}

.single__product-specifications p{
	padding: 1%;
	font-size: calc(5px + 15 * (100vw / 1400));
}

.specification {
	display: flex;
	justify-content: flex-start;
	color: #5C8AFF;
	font-size: calc(5px + 15 * (100vw / 1400));
}

/* Single styles ========================= */

/* Show more */

.show__more {
	height: 5vh;
	width: 25vw;
	margin: 0 auto;
	padding: 2.5% 5%;
	border-radius: calc(5px + 15 * (100vw / 1400));
	font-size: calc(5px + 20 * (100vw / 1400));
	color: #fff;
	background-color: #000;
	font-family: 'Comfortaa', sans-serif;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer
}


/* Show more */


/* User Cabinet */

.user__page-avatar img {
	width: 7vw;
	height: 7vw;
	border-radius: 50%;
}

.user__page-cabinet {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 0 2.5% 0;
}

.user__header {
	display: flex;
	align-items: center
}

.user__menu {
	display: flex;
	flex: 100% 1 1;
}

.user__menu-button {
	margin: 0 3%;
	padding: 1% 2%;
	background-color: rgba(256, 256, 256, 0.2);
	border-radius: 5px;
	transition: 0.5s;
}

.user__menu-button a, .user__menu-button a:visited {
	color: #ccc;
	transition: 0.5s;
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(5px + 16 * (100vw / 1400));
}

.user__menu-button:hover {
	transition: 0.5s;
	background-color: rgba(256, 256, 256, 0.9);
	box-shadow: rgba(256, 256, 256, 0.9) 0px 3px 15px 0px;
}

.user__menu-button:hover a {
	transition: 0.5s;
	color: #000;
}

.user__page {
	padding: 0 5%;
}

.user__page-card {
	flex: 100% 1 1
}

.user-btn {
	background-color: #FF4E4E;
	width: 20%;
	cursor: pointer;
	padding: 10px 0 10px 10px;
	margin: 0 1%;
	border-radius: 10px;
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(5px + 10 * (100vw / 1400));
}

.user__functions {
	display: flex;
}

/* User Cabinet ================================== */


/* CompareWindow */

.compare__window {
	position: fixed;
	top:  60vh;
	right: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	transform: translateX(35vw);
	transition: 0.5s;
}

.compare__window.opened {
	transition: 0.5s;
	transform: translateX(0);
}

.compare__window-btn {
	cursor: pointer;
	border: 2px solid #555;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right: 0;
	background-color: #000;
	padding: 2vw;
}

.compare__window-btn img {
	width: 3vw;
	height: 2vw;
	transition: 0.5s;
	transform: rotate(0deg);
}
.compare__window.opened .compare__window-btn img{
	transition: 0.5s;
	transform: rotate(180deg);
}

.compare__list {
	height: 30vh;
	width: 35vw;
	padding: 1.5vw;
	background-color: #fff;
	color: #000;
	border: 2px solid #555;
}

.compare__list-list {
	padding: 1vw;
}

.compare__list-list li{
	line-height: 2;
	list-style-type: disc;
}

.compare__list-product img {
	width: 15vw;
	height: 15vw;
}

/* CompareWindow ==================================================*/

/* Compare Zone ========================================= */

.compare__zone {
	background-color: #000;
}

.specifications__list {
	margin: 2% 0;
}

.compare__product {
	padding: 2%;
	flex: 50% 0 0;
}

.products__titles {
	font-size: calc(5px + 16 * (100vw / 1400));
	margin: 1% 0;
	position: relative;
}

.products__titles a:visited, .products__titles a {
	color: #fff;
	text-decoration: underline;
}

.product__specifications-specifications {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	gap: 10px 10px;
}

.product__specification {
	padding: 5% 0;
	min-height: 40px;
	font-size: calc(5px + 10 * (100vw / 1400));
	color: #fff;
	border-radius: 15px;
	animation-name: slide;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	position: relative;
	text-align: center;
	transform: translateY(50px);
	opacity: 0;
}

.specification-title {
	margin: 2% 0;
	font-size: calc(calc(15px + 15 * (100vw / 1400)) / 2);
}

.product__specification-sign {
	position: absolute;
	top: calc(calc(5px + 25 * (100vw / 1400)) / 2);
	left: calc(calc(5px + 25 * (100vw / 1400)) * -1.5);
	font-size: calc(5px + 25 * (100vw / 1400));
	color: #fff;

}

.spec-values {
	display: flex;
	justify-content: space-between;
}

@keyframes slide {
	50%{
		opacity: 1;
		transform: translateY(0);
	}
	75%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}

.compare-colors-container {
	height: 8vw;
	display: flex;
	color: #fff;
	background-color: #000;
	justify-content: center;
	align-items: flex-end;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
}

.compare-colors-container img {
	width: 5vw;
}

.compare-colors-container img:nth-child(3) {
	align-self: flex-start;
}

.compare-colors-container div:nth-child(2) {
	align-self: center;
	margin: 0 1%
}

.compare-colors {
	height: 3vh;
	width: 40%;
	background: rgb(147,3,208);
	background: linear-gradient(90deg, rgba(147,3,208,1) 0%,
	rgba(147,3,208,1) 4%,rgba(250,100,251,1) 16%, rgba(250,100,251,1) 26%,
	rgba(64,117,254,1) 33%, rgba(64,117,254,1) 40%, rgba(2,229,254,1) 49%,
	rgba(2,229,254,1) 55%, rgba(120,250,43,1) 67%, rgba(120,250,43,1) 75%,
	rgba(254,149,57,1) 83%, rgba(254,149,57,1) 88%, rgba(255,52,48,1) 97%);
	border-radius: 20px;
	min-height: 12px;
}

.compare__products__tabs-btns {
	margin: 2% 0 0 5%;
	display: flex;
}

.compare__tab-button {
	border-radius: 10px;
	border: 2px solid #fff;
	cursor: pointer;
	padding: 1%;
	font-size: calc(calc(15px + 15 * (100vw / 1400)) / 2);
}

.compare__tab-button.active__tab-btn {
	background-color: #fff;
	color: #000
}

.compare__tab {
	display: none;
}

.compare__tab.active__tab {
	display: block;

}

.compare-slider.swiper {
	height: auto;
	width: auto;
}

.compare-slider.swiper .slider-wrapper {
	justify-content: space-between;
}

.titles-slider .swiper-slide {
	text-align: center;
}

.titles-slider.swiper {
	background-color: #fff;
	padding: 4% 0;
}

.product__title a, .product__title a:visited {
	color: #000;
}

#RIGHT img , #LEFT img {
	width: 3vw;
	height: 3.5vw;
}

#RIGHT::after, #LEFT::after {
    z-index: 2;
	color: #000;
	font-size: calc(calc(45px + 25 * (100vw / 1400)) / 2);
}

/* .swiper-button-next, .swiper-button-prev {
	top: 120%;
} */

.swiper-button-prev {
	left: 0;
}

.swiper-button-next {
	right: 0;
}

/* #RIGHT {
	transform: rotate(180deg);
	right: 0;
} */

/* Compare Zone */


/* Scroll ============================================================= */

.scroll-btn {
	margin-top: 1%; 
	padding: 1% 2%;
	background-color: #fff;
	max-width: 50%;
	text-align: center;
	border-radius: 10px;
	color: #000;
	cursor: pointer;
	border: 5px solid #000;
	font-size: calc(5px + 20 * (100vw / 1400));
}

/* Scroll */

/* Swiper */

.swiper {
	width: 17vw;
	height: 17vw;
	margin-left: 0 !important;
}

.swiper-pagination {
	z-index: 15 !important;
	bottom: var(--swiper-pagination-bottom,0px) !important ;
}

.favourite__img .swiper {
	width: 100%;
	height: 100%;
}

.favourite__img .swiper-slide img {
	max-width: 23vw !important;
	max-height: 23vw !important;
}

/* Swiper */

/* SearchPage */

.search__container {
	text-align: center;
	height: 100%;
	max-width: 100vw;
	padding: 3% 0% 2% 2%;
	background-color: #fff;
	display: flex;
	/* justify-content: space-between; */
}

.search__content {
	padding: 2% 0;
	margin-left: 5px;
	flex: 100% 0 1;
	justify-content: center;
	background-color: #555;
    display: grid;
    gap: 2vw 1vw;
	grid-template: repeat(auto-fit, minmax(200px, 28vh))/repeat(auto-fit, minmax(200px, 250px));
}

.search__filters {
	flex: 30% 1 0;
}

.search__product {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: baseline;
	background-color: #fff;
	/* min-height: auto; */
}

.search__product-title {
	padding: 5%;
}

.search__product-img {
	min-width: 100%;
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search__product-img img{
	/* max-width: 170px;
	max-height: 170px; */
}

.filter-form {
	flex: 40% 1 0;
	max-height: 70vh;
	color: #000;
	text-align: left;
	position: sticky;
	top: 10%;
	left: 0;
}

.filters__list {
	max-height: 60vh;
	overflow-y: auto;
}

.filter {
	height: auto;
	padding: 2% 0;
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(7px + 5 * (100vw / 1400));
	max-width: 95%;
	text-align: left;
}

.filter-title {
	font-family: 'Comfortaa', sans-serif;
	font-size: calc(5px + 10 * (100vw / 1400));
	padding: 1% 0;
}

.submit__filters {
	padding: 2%;
}

/* SearchPage */

/* Accordion */

.accordion-btn {
	cursor: pointer;
	line-height: 1.3;
	border-radius: 10px;
	position: relative;
}

.accordion-btn::after, .accordion-btn::before {
	content: '';
	position: absolute;
	width: 10px;
	height: 2px;
	background-color: #000;
	top: 8px;
	transition-duration: 0.2s;
}

.accordion-btn::after {
	transform: rotate(-45deg);
	right: 0;
}

.accordion-btn::before {
	transform: rotate(45deg);
	right: 6px;
}

.accordion-btn.active-accordion::before {
	transform: rotate(-45deg);
	transition-duration: 0.2s;
}

.accordion-btn.active-accordion::after {
	transform: rotate(45deg);
	transition-duration: 0.2s;
}

.accordion-btn:hover {
	background-color: #ccc;
}

.accordion {
	transform-origin: center top;
	transform: scaleY(0);
	transition-duration: 0.2s;
	transition-timing-function: linear;
	height: 0;
}

.accordion p {
	padding: 2% 0;
}

.accordion.active {
	transform-origin: center top;
	transform: scaleY(1);
	transition-duration: 0.2s;
	transition-timing-function: linear;
	height: 100%;
}

/* Accordion */

/* Adaptive IMG */

.adaptive-img {
	max-width: 15vw;
	max-height: 15vw;
}

/* Adaptive IMG */

/* BreakPoints */

@media (max-width: 1080px) {
	header {
		padding: 2% 5%;
		border-bottom: 0;
	}
}

@media (max-width: 900px) {
	.catalog {
		height: 35px;
		flex: 10% 0 0;
	}
	.search__content {
		justify-content: left;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.search__product {
		width: 30vw;
		max-height: 30vh;
		/* margin-left: 10%; */
		text-align: center;
	}	
}

@media (max-width: 700px) {
	header {
		padding: 2% 4%
	}
	.user {
		flex: 35px 0 0;
		height: 35px;
	}
	.user.adaptive {
		flex: 35px 0 0;
		height: 35px;
	}
	.user.adaptive a img {
		height: 30px;
		width: 30px;
	}
	.catalog img {
		width: 25px;
		height: 25px;
	}
	.catalog__button {
		width: 100%;
	}
	.search-input {
		height: 35px;
		flex: 60% 0 1;
	}
	.search-btn {
		top: calc(50% - 10px)
	}
	.search-input input::placeholder {
		font-size: calc(7px + 20 * (100vw / 1400));
	}
	.modal-content {
		width: 80vw;
		left: calc(50% - 40vw);
	}


	.slider__button {
		top: calc(50% - 3vw);
	}
	.slider__button img{
		width: 3vw;
		height: 6vw;
	}
	.previous {
		left: -4%;
	}
	.next {
		right: -4%;
	}

	.favourite__product .product__info-btns img{
		width: 4vw;
		height: 4vw;
	}

	.top-footer nav {
		font-size: calc(7px + 15 * (100vw / 1400));
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.top-footer nav a {
		padding: 1% 5% 1% 0;
	}
	.social-list a img{
		width: 3vw;
	}
	.logo img {
		width: 10vw
	}
	.availability {
		padding: 2.5%;
		max-width: 40vw;
		justify-content: space-evenly;
	}
	.availability span {
		font-size: calc(4px + 20 * (100vw / 1400));
	}
	.address {
		font-size: calc(4px + 20 * (100vw / 1400));
	}
	.bottom-footer {
		font-size: calc(4px + 15 * (100vw / 1400));
	}

	.product__specification {
		padding: 2% 0;
		min-height: 20px;
		font-size: calc(4px + 10 * (100vw / 1400))
	}

}

@media (max-width: 450px) {
	.user {
		flex: 25px 0 0;
		height: 25px;		
	}
	.user.adaptive {
		flex: 30px 0 0;
		height: 30px;
	}
	.user.adaptive a img {
		width: 25px;
		height: 25px;
	}
	.catalog {
		height: 30px;
		flex: 15% 0 0;
	}
	.catalog img {
		width: 20px;
		height: 20px;
	}
	.catalog__button {
		width: 100%;
	}
	.catalog__menu {
		top: calc(100% + 2px);
		width: 150%;
		min-height: 70px;
	}
	.catalog__menu a{
		top: calc(100% - 2px);
		padding-left: 10%; 
	}

	.search-input {
		height: 30px;
		flex: 70% 0 1;
	}
	.search-input input::placeholder {
		font-size: calc(7px + 20 * (100vw / 1400));
	}
	.search-btn {
		top: calc(50% - 10px);
	}
	.search-input img{
		width: 20px;
		height: 20px;
	}


	.slider__wrapper {
		overflow: hidden;
		width: 80vw;
	}
	.slider__item {
		flex: 40vw 0 0;
	}
	.slider__button {
		top: calc(50% - 2.5vw);
	}
	.slider__button img{
		width: 3vw;
		height: 5vw;
	}
	.next {
		right: -5%;
	}
	.previous{
		left: -5%
	}
	.favourite img, .add-to-compare img {
		width: 4vw;
		height: 4vw;
	}

	.product__info {
		width: 100%;
	}
	.favourite {
		right: 10%;
	}
	.product h2{
		font-size: calc(7px + 25 * (100vw / 1400));
	}
	.product {
		border-radius: 10px;
	}

	.search__product img{
		max-width: 130px !important;
		/* max-height: 130px; */
	}

	.compare-colors {
		height: 3vw;
	}
}


/* BreakPoints */